=
body {
    margin: 0;
}


.navbar {
    background-color: rgb(1, 46, 68);
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    margin-bottom: 0;
}

.navbar h2 {
    display: inline;
    padding-left: 5%;
}

.navbar ul {
    display: inline-block;
    text-align: right;
    list-style: none;
    padding: 0;
    color: white;
    margin-right: 7%;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: white;
    width: 110px;
    display: block;
    padding: 25px 20px;
    text-align: center;
}

.navbar a:hover {
    background: brown;
    color: white;
}

.About {
    background-color: rgb(1, 46, 68);
    color: white;
    text-align: center;
    padding-left: 5%;
    padding-bottom: 5%;
}

.About h2 {
    text-align: center;
    padding-right: 5%;
    display: inline;
    padding-left: 5%;
}

.About p {
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    padding-right: 5%;
}

.profile_pic {
    width: 30%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    background-color: rgb(1, 46, 68);
    border-radius: 50%;
    border: black 5px solid;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.Education {
    background-color: rgb(29, 41, 62);
    color: white;
    padding: 5%;
    text-align: center;
}

.Education h1 {
    text-align: center;
    margin-right: 120px;
}

.Education ul {
    list-style-type: circle;
    margin-top: 30px;
    text-align: left;
    font-size: larger;
    font-weight: bold;
}

.Education img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right_align {
    float: right;
}

.ed {
    margin-top: 50px;
}

.Skills {
    background-color: rgb(29, 41, 62);
    color: white;
    padding: 5%;
    text-align: center;
}

.Skills h1 {
    text-align: center;
}

.skill {
    display: inline-block;
    margin: 20px;
    padding: 3%;
}

.skill img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.skill p {
    text-align: center;
    color: white;
    padding: 5px;
    font-weight: bold;
}

.Projects {
    background-color: rgb(1, 46, 68);
    color: white;
    padding: 5%;
    text-align: center;
}
.Projects ul {
    list-style-type: circle;
    margin-top: 30px;
    text-align: left;
    font-size: larger;
    font-weight: bold;
}

.proj {
    margin-top: 50px;
    width: 20%;
}

.Projects a {
    color: white;
    text-decoration: none;
    display: block;
}

.Projects a:hover {
    background-color: rgb(29, 41, 62);
    border: 2px solid gray;
    box-sizing: content-box;
    color: white;
}

footer {
    padding: 5% 2%;
    background-color: white;
    color: black;
    text-align: center;
}

footer h1 {
    padding-top: 5%;
}

footer label {
    margin-top: 2%;
    margin-bottom: 2%;
}

footer img {
    width: 30px;
    height: 30px;
    padding: 4px;
}

label {
    font-style: italic;
    font-size: large;
    color: #E8E2E2;
    font-weight: normal;
}

footer label {
    color: black;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    .profile_pic {
        width: 40%;
    }

    .Education img,
    .Projects img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 576px) {
    .navbar ul {
        display: none;
    }

    .navbar h2 {
        padding-left: 0;
    }

    .navbar a {
        display: none;
    }

    .navbar.responsive .icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .navbar.responsive a {
        display: block;
    }

    .About p {
        font-size: 17px;
    }

    .navbar h2 {
        text-align: center;
        padding-left: 5%;
    }

    .Education ul {
        font-size: medium;
    }

    .Education img {
        width: 40%;
    }

    .Projects img {
        margin-top: 40%;
    }

    .Projects ul {
        font-size: medium;
    }

    #Certifications ul {
        font-size: medium;
    }
}
